[submodule "encode-club-weekend-project-4-server"]
	path = encode-club-weekend-project-4-server
	url = https://github.com/numoonchld/encode-club-weekend-project-4-server
[submodule "encode-club-weekend-project-4-db"]
	path = encode-club-weekend-project-4-db
	url = https://github.com/numoonchld/encode-club-weekend-project-4-db
[submodule "encode-club-weekend-project-4-client"]
	path = encode-club-weekend-project-4-client
	url = https://github.com/numoonchld/encode-club-weekend-project-4-client.git
